.seccion {
    background-color: purple;
    padding: 1rem;
    margin: 1rem;
}

.parrafo {
    background-color: white;
    padding: 1rem;
}

.parrafo.dragging {
    opacity: 0.3;
}

.image-fantasm {
    width: 500px;
    height: 50px;
    background-color: lightsalmon;
    position: absolute;
    left: -100vw; /* para que no se vea*/
}